



 <div  ng-show="showKeywords==true" ng-hide="showKeywords==false || keywordLength <= 2" style="margin-top:150px ; ">
    <div ng-repeat="keyword in searchKeywords.results | orderBy: '-popularity' " ng-click="gotoMovieDetails(keyword.id); " >
        <div class=" col-md-4 col-md-offset-4" style="border:solid 1px #fff ; border-radius:10px  ; background-color:rgba(0, 0, 0, 0.4) ; margin-bottom:10px">
       <a href=""> <div class="row" style="margin:20px"> 
<div class="col-md-3">
<img " ng-src="http://image.tmdb.org/t/p/w92/{{keyword.backdrop_path}}" >
</div>
<div class="col-md-6" style="margin-left:-15px">
<span class="author author-info" style="font-size:16px; color:#fff">{{keyword.original_title}}
                ({{keyword.release_date| limitTo:4}})</span>
				<br>
				
				<span class="author author-info" style="font-size:16px; margin-top:10px; color:#fff;"><i class="fa fa-star" style="font-size:16px; color:#ff6a17"></i> {{keyword.vote_average}}&nbsp; Votes({{keyword.vote_count}})</span>
</div>
</div></a>
	</div>
	</div>
</div>





